<script type="text/javascript">
	function updateInfo(color) {
		document.getElementById('info-r').value = color.rgb[0];
		document.getElementById('info-g').value = color.rgb[1];
		document.getElementById('info-b').value = color.rgb[2];
	}
</script>

<h1>Generador de archivos</h1>

<%= form_for :archivo, remote: true, url: archivos_path ,html: {class: "form-horizontal", role: "form"} do |f| %>
<div class="form-group">
	<%= f.label :nombre, class: "col-sm-2 control-label" %>
	<div class="col-sm-8">
		<%= f.text_field  :nombre , class: "form-control"%>
	</div>
</div>

<div class="form-group">
	<%= f.label :num_lados, class: "col-sm-2 control-label" %>
	<div class="col-sm-8">
		<%= f.text_field  :num_lados , class: "form-control"%>
	</div>
</div>

<div class="form-group">
	<%= f.label :size_lados, class: "col-sm-2 control-label" %>
	<div class="col-sm-8">
		<%= f.text_field  :size_lados , class: "form-control"%>
	</div>
</div>

<hr/>
	<div class="form-group">
		<label for="selector" class="col-sm-2 control-label">Color</label>
		<div class="col-sm-8">
			<input class="color {onImmediateChange:'updateInfo(this);'} form-control" value="66ff00"  class="form-control" id="selector">
		</div>
	</div>
<div class="form-inline" role="form">
	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			<div class="form-group">
			<%= f.label "R", class: "col-xs-2" %></br>
			<%= f.text_field  :color_r, id: "info-r", class: "form-control" %>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div class="form-group">
			<%= f.label "G", class: "col-xs-2" %></br>
			<%= f.text_field  :color_g, id: "info-g", class: "form-control" %>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div class="form-group">
			<%= f.label "B", class: "col-xs-2" %></br>
			<%= f.text_field  :color_b, id: "info-b", class: "form-control" %>
			</div>
		</div>



	</div>
</div>

<hr/>
<p>
	<%= f.label :tecla_tx %></br>
	<%= f.text_field  :tecla_tx %>
</p>
<p>
	<%= f.label :tecla_ty %></br>
	<%= f.text_field  :tecla_ty %>
</p>
<p>
	<%= f.label :tecla_tz %></br>
	<%= f.text_field  :tecla_tz %>
</p>


<p>
	<%= f.label :tecla_sx %></br>
	<%= f.text_field  :tecla_sx %>
</p>
<p>
	<%= f.label :tecla_sy %></br>
	<%= f.text_field  :tecla_sy %>
</p>
<p>
	<%= f.label :tecla_sz %></br>
	<%= f.text_field  :tecla_sz %>
</p>

<p>
	<%= f.label :tecla_rx %></br>
	<%= f.text_field  :tecla_rx %>
</p>
<p>
	<%= f.label :tecla_ry %></br>
	<%= f.text_field  :tecla_ry %>
</p>
<p>
	<%= f.label :tecla_rz %></br>
	<%= f.text_field  :tecla_rz %>
</p>
<p>
	<%= f.submit 'Generar Archivo'%>
</p>
<% end %>

<script type="text/javascript">
	function updateInfo(color) {
		document.getElementById('info-r').value = color.rgb[0];
		document.getElementById('info-g').value = color.rgb[1];
		document.getElementById('info-b').value = color.rgb[2];
	}
</script>