<!DOCTYPE html>
<html>
<head>
  <title>GeneradorOpengl</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="bs-example">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Examen Práctico de CAD</a></li>
		<li><%= link_to 'Trabajo 1', archivos_new_path%></li>
		<li><%= link_to 'Trabajo 2', ejercicio2_path%></li>
      </ul>
</div>

<div class="row">
	<div class="col-md-2">

	</div>
	<div class="col-md-10" role"main">
		<%= yield %>
	</div>
	<div class="col-md-2"></div>
</div>

</body>
</html>
